@font-face {
  font-family: "iconfont"; /* Project id 1730125 */
  src: url('iconfont.woff2?t=1620451647951') format('woff2'),
       url('iconfont.woff?t=1620451647951') format('woff'),
       url('iconfont.ttf?t=1620451647951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiugaitouxiang:before {
  content: "\e603";
}

.icon-shenfenzheng:before {
  content: "\e681";
}

.icon-yinxingqia:before {
  content: "\e634";
}

.icon-zhengjian:before {
  content: "\e61a";
}

.icon-B:before {
  content: "\e70e";
}

.icon-shenfenzheng1-copy:before {
  content: "\eb9d";
}

.icon-woainishoushi:before {
  content: "\e61c";
}

.icon-bankcard1:before {
  content: "\e70c";
}

.icon-duihao:before {
  content: "\e6d1";
}

.icon-paiban:before {
  content: "\e629";
}

.icon-dingwei:before {
  content: "\e602";
}

.icon-phone1:before {
  content: "\e62c";
}

.icon-huishouzhan:before {
  content: "\e6a7";
}

.icon-weixiu:before {
  content: "\e74b";
}

.icon-diannao:before {
  content: "\e63c";
}

.icon-guanfang:before {
  content: "\e7e8";
}

.icon-mendian:before {
  content: "\e60a";
}

.icon-fahuo:before {
  content: "\e6b4";
}

.icon-zijinchizhangbuyuetiaozhang:before {
  content: "\e65f";
}

.icon-qm:before {
  content: "\e646";
}

.icon-jinzhi:before {
  content: "\e601";
}

.icon-ellipsis2:before {
  content: "\e701";
}

.icon-kefu:before {
  content: "\e622";
}

.icon-wenhao:before {
  content: "\e71d";
}

.icon-circle:before {
  content: "\e80c";
}

.icon-kucunguanli:before {
  content: "\e608";
}

.icon-w_biaoqian-:before {
  content: "\e662";
}

.icon-tuiguangzhuanqian:before {
  content: "\e60c";
}

.icon-huaban25:before {
  content: "\e6fe";
}

.icon-erweima:before {
  content: "\e644";
}

.icon-filter:before {
  content: "\e621";
}

.icon-xiala:before {
  content: "\e611";
}

.icon-shang:before {
  content: "\e600";
}

.icon-richscan_icon:before {
  content: "\e661";
}

.icon-wenjiandai_documentspouch:before {
  content: "\e625";
}

.icon-wuliuxinxi:before {
  content: "\e660";
}

.icon-copy:before {
  content: "\e617";
}

.icon-yduiyanzhengma:before {
  content: "\e614";
}

.icon-shouji:before {
  content: "\e633";
}

.icon-dunpai:before {
  content: "\e605";
}

.icon-xiangji:before {
  content: "\e604";
}

.icon-icon_shexiangtou:before {
  content: "\e643";
}

.icon-jinggao--:before {
  content: "\e63d";
}

.icon-duihao2:before {
  content: "\e6a0";
}

.icon-vertical_line:before {
  content: "\e63a";
}

.icon-phone:before {
  content: "\e6e4";
}

.icon-xinxi:before {
  content: "\e764";
}

.icon-icon_search:before {
  content: "\eb9c";
}

.icon-addto:before {
  content: "\e698";
}

.icon-delete:before {
  content: "\e699";
}

.icon-cancel:before {
  content: "\e69a";
}

.icon-close:before {
  content: "\e69e";
}

.icon-increase:before {
  content: "\e69f";
}

.icon-next:before {
  content: "\e6a2";
}

.icon-wuuiconxiangjifangda:before {
  content: "\e620";
}

